<main>
  <section id="my-posts">
    <h1>My post</h1>

    <div class="my-container">

      {{#if isEmpty}}
      <!-- If there are still no own posts in the database display: -->

      <div class="no-posts">
        <p class="no-offer">There are no own posts yet...</p>
      </div>

        {{else}}

          {{#each myPosts}}
      <!-- If there are own posts in the database display each of them -->
      <div class="my-card">
        <div class="card-header">
          <img src="{{image}}" />
        </div>
        <div class="card-body">
          <span class="tag tag-teal">Species: {{species}}</span>
          <h4>Name: {{name}}</h4>
          <div class="user">
            <div class="user-info">
              <h5>Author: huq mi</h5>
              <small>Rating of votes: {{votesCount}}</small>
              <a href="/posts/{{_id}}/details" class="details_btn">Details</a>
            </div>
          </div>
        </div>
      </div>
        {{/each}}

    {{/if}}
    
    </div>
  </section>
</main>