
        <section id="createPage">
            <form id='createForm' method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Name..." value="{{eletronicData.name}}">

                <label for="type">Type:</label>
                <input type="text" id="type" name="type" placeholder="Type..." value="{{eletronicData.typer}}">

                <label for="production">Year of Production:</label>
                <input type="number" id="production" name="production" placeholder="Year of Production..." value="{{eletronicData.production}}">

                <label for="exploitation">Years of Exploitation:</label>
                <input type="number" id="exploitation" name="exploitation" placeholder="Year of Exploitation..." value="{{eletronicData.exploitation}}">

                <label for="damages">Damages:</label>
                <input type="text" id="damages" name="damages" placeholder="Damages..." value="{{eletronicData.damages}}">

                <label for="image">Image:</label>
                <input type="text" id="image" name="image" placeholder="Image..." value="{{eletronicData.image}}">

                <label for="price">Price:</label>
                <input type="number" id="price" name="price" placeholder="Price..." value="{{eletronicData.price}}">

                <label for="description">Description:</label>
                <input type="text" id="description" name="description" placeholder="Description..." value="{{eletronicData.description}}">                

                <input type="submit" class="create" value="Create Offer">
            </form>
        </section>