
        <section id="detailsPage">
            <div id="detailsInfo">
                <h1>Name: Laptop HP EliteBook 820 G4</h1>
                <div class="info"><img src="{{offer.image}}"></div>

                <div class="info">
                    <h3>Type: {{offer.type}}</h3>
                    <h3>Year of Production: {{offer.production}}</h3>
                    <h3>Years of Exploitation: {{offer.exploitation}}</h3>
                    <h3>Damages: {{offer.damages}}</h3>
                    <h3>Description: {{offer.description}}</h3>
                    <h2>Price: ${{offer.price}}</h2>
                </div>

                <!--If there is user logged in-->
                <div class="buttons">
                    
                    <!--If user is not owner of the toy post-->
                    <a href="/electronics/{{offer._id}}/buy" class="buy-btn">Buy</a>

                    <!--If user is owner-->
                    <a href="/electronics/{{offer._id}}/edit" class="edit-btn">Edit</a>
                    <a href="/electronics/{{offer._id}}/delete" class="delete-btn">Delete</a>

                    <!--If user is not the owner and is bought this toy-->
                    <p><span class="buy">Thank You For Your Purchase</span></p>
                </div>
            </div>
        </section>
